/*----- Font -----*/

/*Sizes*/

$root-font-size: 62.5%;
$primary-font-size: 1.6rem;

/*Style*/

$font-family: 'Roboto',
'Segoe UI',
'Tahoma',
'Geneva',
'Verdana',
'sans-serif';

/*Weights*/

$light-font: 300;
$semi-light-font: 400;
$semi-bold-font: 600;
$bold-font: 700;

/*----- Width -----*/

$min-element-width: 50rem;
